<html>
  <head>
    <title>Served</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" />

    <style>
      #register_form { 
      text-align:center;
      border: 2px solid #bbbbbb; 
      padding: 5px;
      margin-left:25%;
      margin-right:25%;
      width:50%;
      }
      #register_form td { padding:5px; }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse fixed-top" style="margin-bottom:0">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/">Served</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <form class="navbar-form navbar-right" method="post" action="login">
	    <div class="form-group">
	      <input type="text" placeholder="Username" class="form-control" name="username">
	    </div>
	    <div class="form-group">
	      <input type="password" placeholder="Password" class="form-control" name="password">
	    </div>
	    <button type="submit" class="btn btn-success">Sign In</button>
	    <a href="register" class="btn btn-success">Register</a>
	  </form>
	</div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
	<center>
	  <h1>Register</h1>
	  <a href="/">Back to homepage</a>
	</center>
      </div>


    <form action="register" method="post" id="register_form">
      <table cellspacing="0" class="box" style="width:25%">

	{% if return_code %}
	<tr><th colspan="2" style="text-align:center;">Error: {{ return_code }}</th></tr>
	{% endif %}

	<tr>
	  <th>Username</th>
	  <td><input name="username" size="20" maxlength="20" /></td>
	</tr>
	<tr>
	  <th>Password</th>
	  <td><input name="pass1" size="20" maxlength="20" type="password" /></td>
	</tr>
	<tr>
	  <th>Confirm Password</th>
	  <td><input name="pass2" size="20" maxlength="20" type="password" /></td>
	</tr>
	<tr>
	  <th colspan="2" style="text-align:center">
	    <input type="submit" value="Create Account" />
	  </th>
	</tr>
      </table>
    </form>
    {{ footer | safe }}
  </body>
</html>
